/* common  */

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  background-color: rgba(245, 248, 255, 1);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* navber img */

.nav-ber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.nav-ber ul {
  display: flex;
  gap: 48px;
  list-style: none;
}
.nav-ber a {
  text-decoration: none;
  font-size: 18px;
}
.item-1 {
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}
.item-2 {
  color: rgba(137, 135, 161, 1);
}
.item-3 {
  color: rgba(0, 0, 0, 1);
}

/* body part start  */

/* section 1 */

.parent-1 {
  display: flex;
  margin-top: 120px;
  position: relative;
}
.parent-1-right {
  margin-top: 162px;
  flex: 1;
}
.parent-1-left {
  flex: 1;
}
.parent-1-right h1 {
  font-size: 65px;
  font-weight: bold;
}
.parent-1-right p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.parent-1-left img {
  position: absolute;
  bottom: 0px;
}

/*section 2*/

.parent-2 {
  margin-top: 120px;
}

.child-1 {
  text-align: center;
}
.child-1 h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.child-1 p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}
.cards img {
  width: 100%;
}
.cards p,
h3 {
  text-align: center;
}
.cards p {
  font-size: 22px;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  margin-top: 30px;
  margin-bottom: 0%;
}
.cards h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
.cards button {
  width: 100%;
  height: 50px;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  margin-top: 30px;
}

.cards {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* section 3 */

.parent-3 {
  margin-top: 210.13px;
  display: flex;
}
.parent-3-left {
  flex: 1;
  position: relative;
}
.parent-3-right {
  padding: 38px 0px 38px 60px;
}
.popup-img {
  position: absolute;
  transform: translate(400px);
  max-width: 286px;
  height: auto;
}

.parent-3-right h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}
.parent-3-right li {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.list-item {
  padding-left: 25px;
}
